.app-menu-form .menu-list-body {

}

.app-menu-form .menu-list-body .sk-spinner {
    margin-top: 30px;
}
.app-menu-form .menu-list-body .no-data {
    line-height: 60px;
    text-align: center;
    color: #ccc;
}
.app-menu-form .menu-list-body .sortable {

    padding:0;
}
.app-menu-form .menu-list-body .sortable li {
    border: 1px solid #ddd;
    list-style: none outside none;
    margin: 4px;
    padding: 8px;
    cursor: normal;
}
.app-menu-form .menu-list-body .sortable li.sortable-placeholder {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px dashed #CCCCCC;
    padding: 16px;
}
.app-menu-form .menu-list-body li.active {
    background: #1c84c6;
    color: #fff;
}

.icons-box .nav.nav-tabs {
    width: 220px;
}
.icons-box .tab-content .panel-body {
    margin-left: 220px;
    width: auto;
    overflow-y: auto;
}
.icons-box .icon-box.fa-item {
    float: left;
    width: 200px;
    padding: 0 5px;
    line-height: 36px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.icons-box .icon-box.fa-item i {
    font-size: 20px;
    line-height: 36px;
    width: 36px;
}
.icons-box .icon-box.fa-item:hover {
    background: #41acf7;
    color: #fff;
}
.icons-box .icon-box.fa-item.active {
    background: #337ab7;
    color: #fff;
}